<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- properties resource:引入类路径下的资源 url:引入磁盘或者网络路径下的资源 -->
	<!-- <properties resource="dbconfig.properties"></properties>这个不知道为啥读取不到 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<package name="com.mybatis.test" />
	</typeAliases>
	<!-- 配置数据库连接的环境 -->

	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true&amp;serverTimezone=UTC" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
		<!-- 自定义数据源需要实现DataSourceFactory接口 -->
		<environment id="oracle">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:orcl" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<!--databaseIdProvider 支持多数据库厂商 -->
	<databaseIdProvider type="DB_VENDOR">
		<property name="MySQL" value="mysql" />
		<property name="Oracle" value="oracle" />
	</databaseIdProvider>
	<mappers>
		<!-- 下面三种配置都可以 -->
		<!-- <mapper resource="com/mybatis/test/EmployeeMapper.xml" /> -->
		<!-- <mapper class="com.mybatis.test.EmployeeMapper" />当mapper文件和xml在同一路径下，且名字一致的情况下，，直接这样写 -->
		<package name="com.mybatis.test" /><!-- 当mapper文件和xml在同一路径下，且名字一致的情况下，，直接这样写 -->
	</mappers>
</configuration>
